$main-color: #0d87ff;
$hover-btn: #006dd9;
$light-blue: #acd6ff;
$blue: #0d87ff;
$black: #070e19;
$grey: #43536c;
$light-grey: #c1c8cf;
$green: #18a641;
$light-green: #aeffc6;
$white: #f6f7fe;
$classic-white: #ffffff;
$red: #be4b4a;
$light-red: #ffb1b0;
$orange: #ff7a00;
$light-orange: #ffd3ab;
$yellow: #fdd717;
